.gradle/
.idea/

/Server/world/
/Server/world_the_end/
/Server/world_nether/
/Server/libraries/
/Server/logs/
/Server/versions/
/Server/config/
/Server/plugins/
/build/
/Server/.console_history


.DS_Store
/Server/.DS_Store
/Server/nil
